/* all colors used for the website */
/* body { */
:root {
	--bg: #f2ecbc;
	--fg: #545464;

	--sel-bg: #d6c98a;
	--sel-fg: #373759;

	--alt-bg: #e7dba0;
	/* --shadow: #181616; */
	--shadow: #aea8a8;

	/* other colors */
	--green: #6F894E;
	--blue: #8ba4b0;
	--red: #4D699B;

	transition: background-color 0.6s ease, color 1s ease;
}

@media(prefers-color-scheme: dark) {
	:root {
		--bg: #1F1F28;
		--fg: #C5C9C5;

		/* for when elements are selected */
		--sel-bg: #383735;
		--sel-fg: #c8c093;

		--alt-bg: #2a2a37;
		--shadow: #181616;

		/* other colors */
		--green: #8a9a7b;
		--blue: #8ba4b0;
		--red: #c4746e;

		transition: background-color 0.6s ease, color 1s ease;
	}
}

:root.light-mode {
	--bg: #f2ecbc;
	--fg: #545464;

	--sel-bg: #d6c98a;
	--sel-fg: #373759;

	--alt-bg: #e7dba0;
	/* --shadow: #181616; */
	--shadow: #aea8a8;

	/* other colors */
	--green: #6F894E;
	--blue: #8ba4b0;
	--red: #4D699B;

}

:root.dark-mode {
	--bg: #1F1F28;
	--fg: #C5C9C5;

	/* for when elements are selected */
	--sel-bg: #383735;
	--sel-fg: #c8c093;

	--alt-bg: #2a2a37;
	--shadow: #181616;

	/* other colors */
	--green: #8a9a7b;
	--blue: #8ba4b0;
	--red: #c4746e;
}
