body {
    font-family: Arial;
    font-size: 18px;

    background-color: var(--bg);
    color: var(--fg);
}

a {
    color: inherit;
}

nav {
    font-size: 1.25em;
    display: flex;
    justify-content: center;

    gap: 30px;
    margin: 25px 0px;
}

#notes {
    margin: 0px 20%;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 600px) {
    body {
	font-size: 12px;
    }

    nav {
	display: flex;
	gap: 5px;
    }

    #interests {
	margin: 10px 10%;
    }
}
