body {
    font-family: Arial;
    font-size: 18px;

    background-color: var(--bg);
    color: var(--fg);

    margin: 10px 20%;
}

@media screen and (max-width: 600px) {
    body {
	font-size: 12px;
	margin: 10px 5%;
    }

    nav {
	display: flex;
	gap: 5px;
    }
}

a {
    color: inherit;
}

nav {
    font-size: 22px;

    display: flex;
    justify-content: center;

    gap: 30px;
    margin: 35px 0px;
}

#projects {
    padding: 10px;
}

