:root {
  --dark: #4b483f;
  --shade: #b4af9a;
  --bg: #cdc8b0;
  --surface: #dad4bb;
  --fg: #666256;
  --invert-fg: #cdc7b0;

  --sel-bg: #d6c98a;
  --sel-fg: #373759;

  --alt-bg: #e7dba0;
  --shadow: #aea8a8;

  --green: #6F894E;
  --blue: #8ba4b0;
  --red: #4D699B;

  transition: background-color 0.6s ease, color 1s ease;
}

@media(prefers-color-scheme: dark) {
  :root {
    --bg: #1F1F28;
    --fg: #C5C9C5;

    --sel-bg: #383735;
    --sel-fg: #c8c093;

    --alt-bg: #2a2a37;
    --shadow: #181616;

    --green: #8a9a7b;
    --blue: #8ba4b0;
    --red: #c4746e;

    transition: background-color 0.6s ease, color 1s ease;
  }
}

:root.light-mode {
  --shade: #b4af9a;
  --bg: #cdc8b0;
  --surface: #dad4bb;
  --fg: #666256;
  --invert-fg: #cdc7b0;

  --sel-bg: #d6c98a;
  --sel-fg: #373759;

  --alt-bg: #e7dba0;
  --shadow: #aea8a8;

  --green: #6F894E;
  --blue: #8ba4b0;
  --red: #4D699B;

}

:root.dark-mode {
  --bg: #1F1F28;
  --fg: #C5C9C5;

  --sel-bg: #383735;
  --sel-fg: #c8c093;

  --alt-bg: #2a2a37;
  --shadow: #181616;

  --green: #8a9a7b;
  --blue: #8ba4b0;
  --red: #c4746e;
}

body {
  font-size: 15px;
  font-family: Roboto, Helvetica, sans-serif;

  background-color: var(--bg);
  color: var(--fg);

  min-height: 100vh;

  margin: auto;
  padding: 0px;
}

svg {
  stroke: var(--fg);
}

a {
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

#light-icon {
  display: none;	
}

#dark-icon {
  display: none;	
}

#nav_margin {
  max-width: 56%;
  margin: 0 auto;
  margin-top: 24px;
}

.margin {
  margin: 8px;
}

.no_margin {
  margin: 0;
}

.margin_below {
  margin: 0px;
  margin-bottom: 8px;
}

.margin_bottom-large {
  margin-bottom: 40px;
}

.center_text {
  text-align: center;
}

.text-light {
  color: var(--surface);
}

.align_self_end {
  margin-left: auto;
  margin-right: 10%;
}

.monospace {
  white-space: pre;
  font-family: monospace;
}

.fixed_width_column {
  display: grid;
  height: 100vh;
}

.fixed_width_column-center {
  place-content: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.row-grow {
  width: 100%;
}

.row-gap {
  gap: 20px;
}

.row-gap-larger {
  gap: 40px;
}

.row-stretch {
  align-items: stretch;
}

.row-start {
  justify-content: flex-start;
}

.row-end {
  align-items: flex-end;
}

.square {
  width: 4px;
  height: 4px;
  background: var(--fg);
}

.square_icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: var(--fg);
  margin-right: 4px;
}

.hline {
  width: 100%;
  height: 0px;
  border: 1px solid var(--shade);
}

.hline-dark {
  border: 1px solid var(--dark);
}

.hline-margin_bottom {
  margin-bottom: 12px;
}

.hline-margin_top {
  margin-top: 12px;
}

.flatbutton {
  text-decoration: none;
  background-color: var(--shade);
  padding: 4px 0px;
  padding-left: 8px;
  position: relative;
}

.flatbutton:hover {
  background-color: var(--dark);
  color: var(--surface);
  outline: 1px dash var(--dark);
}

.flatbutton:hover:before {
  content: '';
  top: -4px;
  bottom: -4px;
  border: solid var(--dark);
  border-width: 0.1rem 0;

  position: absolute;
  left: 0;
  right: 0;
}

.flatbutton-minwidth-large {
  min-width: 100px;
}

.flatbutton-minwidth-larger {
  min-width: 168px;
}

.flatbutton-minwidth-largest {
  min-width: 284px;
}

.medium_spacer {
  background-color: var(--shade);
  height: 100%;
  width: 8px;
}

.small_spacer {
  background-color: var(--shade);
  height: 100%;
  width: 2px;
}

.content {
  height: 100%;
  max-width: 56%;
  margin: 0 auto;
  padding-bottom: 24px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.column-gap {
  gap: 16px;
}

.surface {
  background-color: var(--surface);
}

.surface-pad {
  padding: 4px 12px;
}

.surface-text {
  padding-left: 8px;
  padding-right: 12px;
}

.surface-text-padvert {
  padding-top: 12px;
  padding-bottom: 12px;
}

.widen {
  width: 32%;
}

.surface-shadow {
  box-shadow: 4px 4px 0px var(--shade);
}

.shade {
  background-color: var(--shade);
}

.dark {
  background-color: var(--dark);
}

.header {
  padding: 4px 12px;
  background-color: var(--dark);
  color: var(--invert-fg);
}

.border {
  border: 3px solid var(--shade);
}

.border > * {
  margin: 6px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar {
  width: 30px;
  background-color: var(--dark);
}

.bar-text {
  transform: rotate(55deg);
  text-align: center;
  width: 30px;
}

code,
pre,
kbd {
  font-family: "Liberation Mono", "Courier New", monospace;
  font-size: 85%;
  hyphens: none;
}
pre {
  padding: 1rem 1.4rem;
  max-width: 100%;
  overflow: auto;
  border-radius: 4px;
  background: var(--alt-bg);
}
pre code {
  font-size: 95%;
  position: relative;
}
kbd {
  background: var(--alt-bg);
  border: 1px solid var(--shadow);
  border-radius: 2px;
  padding: 2px 4px;
  font-size: 75%;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

h1 {
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

h2 {
    font-style: italic;
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
}

h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
}

p {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  margin-top: 1rem;
}

@media screen and (min-width: 800px) {
  #TOC {
    margin: 10% 0%;
    font-weight: bold;

    display: flex;
    justify-content: justify;
    position: fixed;
    left: 0;
    top: 0;
  }
}

/* || Responsive */
@media screen and (max-width: 600px) {
  body {
    font-size: 12px;
    margin: 10px 5%;
  }

  /* reduce gaps on mobile */
  nav {
    gap: 15px;
  }

  #refs {
    display: flex;
    gap: 10px;
  }

  .box {
    height: 60px;
    width: 60px;
  }
}
