/* || Colors */
:root {
  --bg: #f2ecbc;
  --fg: #545464;

  --sel-bg: #d6c98a;
  --sel-fg: #373759;

  --alt-bg: #e7dba0;
  --shadow: #aea8a8;

  --green: #6F894E;
  --blue: #8ba4b0;
  --red: #4D699B;

  transition: background-color 0.6s ease, color 1s ease;
}

@media(prefers-color-scheme: dark) {
  :root {
    --bg: #1F1F28;
    --fg: #C5C9C5;

    --sel-bg: #383735;
    --sel-fg: #c8c093;

    --alt-bg: #2a2a37;
    --shadow: #181616;

    --green: #8a9a7b;
    --blue: #8ba4b0;
    --red: #c4746e;

    transition: background-color 0.6s ease, color 1s ease;
  }
}

:root.light-mode {
  --bg: #f2ecbc;
  --fg: #545464;

  --sel-bg: #d6c98a;
  --sel-fg: #373759;

  --alt-bg: #e7dba0;
  --shadow: #aea8a8;

  --green: #6F894E;
  --blue: #8ba4b0;
  --red: #4D699B;

}

:root.dark-mode {
  --bg: #1F1F28;
  --fg: #C5C9C5;

  --sel-bg: #383735;
  --sel-fg: #c8c093;

  --alt-bg: #2a2a37;
  --shadow: #181616;

  --green: #8a9a7b;
  --blue: #8ba4b0;
  --red: #c4746e;
}

/* || Global Modifications */
body {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 18px;

  background-color: var(--bg);
  color: var(--fg);

  margin: auto;
  max-width: 40em;
  height: 100%
}

html {
  height: 100%
}

svg {
  stroke: var(--fg);
}

a {
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

nav {
  font-size: 1.25em;
  display: flex;
  justify-content: center;

  gap: 30px;
  margin: 25px 0px;
}

#light-icon {
  display: none;	
}

#dark-icon {
  display: none;	
}

.center_top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60%;
}

.header {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

.row {
  display: flex;
  gap: 20px;
}

/* || Notes page */
#notes {
  margin: 5% 0%;
}

/* || Projects page */
#projects {
  padding: 10px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* || About Me page */
#about {
  display: flex;
  flex-direction: column;

  align-items: center;
}

#contacts {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

#interests {
  padding: 10px;
  text-align: center;
}

/* || Box and Grid Styling */
.box_container {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    margin: 0px 100px;
    gap: 10px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 100px;
    width: 25%;
    padding: 10px;

    background-color: var(--alt-bg);
    box-shadow: 5px 5px var(--shadow);
    border-radius: 5px;

    transition: 0.5s;
}

/* TODO: use a class for this rather than directly editing grid-container */
grid-container {
    display: grid;                                                
    grid-auto-rows: 50px;                                         
    grid-gap: 10px;                                               
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));   
}

[small] {
    grid-row: span 2;
    background-color: var(--green);
}

[medium] {
    grid-row: span 3;
    background-color: var(--blue);
}

[large] {
    grid-row: span 4;
    background-color: var(--red); 
}

grid-item {
    color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    transition: 0.5s;
}

grid-item:hover, .box:hover {
    color: var(--sel-fg);
    background-color: var(--sel-bg);

    transform: scale(1.05);
}

/* || Responsive */
@media screen and (max-width: 600px) {
  body {
    font-size: 12px;
    margin: 10px 5%;
  }

  /* reduce gaps on mobile */
  nav {
    gap: 15px;
  }

  #refs {
    display: flex;
    gap: 10px;
  }

  /* reduce margins of boxes */
  .box_container {
    margin: 0px 20%;
  }

  .box {
    height: 50px;
    width: 25%;
  }

  /* use rows rather than grid */
  grid-container {
    display: grid;                                                
    grid-auto-rows: 20px;                                         
    grid-gap: 10px;                                               
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));   
  }
}
