<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="style.css">
    <title>notes</title>
    <script src="js/dark.js"></script>
  </head>
  <body>
    <input id="colorswitch" type="checkbox" name="colorswitch">
    <nav class="row row-gap row-start row-stretch" id="nav_margin">
      <div class="row">
	<div class="medium_spacer space_navbar"></div>
	<div>&nbsp;</div>
	<div class="small_spacer space_navbar"></div>
      </div>
      <a class="flatbutton flatbutton-minwidth-large row row-start" href="index.html">
	<div class="square_icon"></div> HOME
      </a>
      <a class="flatbutton flatbutton-minwidth-large row row-start" href="notes.html">
	<div class="square_icon"></div> ARCHIVE
      </a>
      <a class="flatbutton flatbutton-minwidth-large row row-start" href="notes.html">
	<div class="square_icon"></div> NOTES
      </a>
      <a class="flatbutton flatbutton-minwidth-large row row-start" href="about.html">
	<div class="square_icon"></div> ABOUT
      </a>
      <label class="flatbutton flatbutton-minwidth-large align_self_end" id="colorlabel" for="colorswitch"></label>
    </nav>
    <main class="content">
      <h1>Notes</h1>
      <div class = "column">
	{NOTES}
      </div>
    </main>
  </body>
</html>
